[build.environment]
  HUGO_VERSION = "0.140.0"

[build]
publish = "public"
command = "hugo --gc --minify --buildFuture"

# Redirect https://dandylyons.net/notes/note-name to https://publish.obsidian.md/serve?url=dandylyons.net/notes/note-name/
[[redirects]]
  from = "/notes/*"
  to = "https://publish.obsidian.md/serve?url=dandylyons.net/notes/:splat"
  status = 200 
  force = true